{% extends "layout.html" %}

{% block body %}
    
    <ol style="font-family: sans-serif;">
        {% for word_info in database %}
            <li >
            <strong>{{ word_info['word'] }}</strong> <br>
            English meaning: {{ word_info['english_meaning'] }} <br>
            <span >Urdu Meaning: {{ word_info['urdu_meaning'] }}</span> {# urdu_meaning #} <br>
            Primary Meaning: {{ word_info['primary_meaning'] }} {# primary_meaning #} <br>
            Secenday Meaning: {{ word_info['secondary_meaning'] }} {# secondary_meaning #} <br>
            Tertiary Meaning: {{ word_info['tertiary_meaning'] }} {# tertiary_meaning #} <br>
            Sentence: {{ word_info['sentence'] }} {# sentence #} <br>
            </li>
        {% endfor %}
    </ol>

{% endblock %}
