<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictionary</title>
</head>
<body>
    <h1 style="margin: 0; font-family: Arial, Helvetica, sans-serif; text-align: center;">Homemade Dictionary <img style="height: 1em;" src="{{ url_for('static', filename='images/dictionary.png') }}" alt="Image 1"> Made with <img style="height: 1em;" src="{{ url_for('static', filename='images/heart.png') }}" alt="Image 1"></h1>
    <!-- <br> -->
    {% block body %}{% endblock %}
</body>
</html>